h6 {
    font-size: 14px;
}
p {
    font-size: 12px;
}
  #lvl1 {
    margin-top: 100px;
    width: 450px;
    opacity: 0.2; 
    transform: rotate(90deg);
    position: absolute;
    left: 100px;
}
#btnModal{
    position: absolute;
    top: 550px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .title-container {
    padding: 10px;
    margin-bottom: 20px;
    position: absolute;
    top: 20px;
  }
  

#blockTray {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  #square {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 76px 76px 76px;
    border-color: transparent transparent #ffba5a transparent;
    position: absolute;
    top: 330px;
    left: 721px;
    /*transition: all 0.5s ease;*/
    cursor: pointer; 
  }
  #triangle1 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 150px 0 150px 150px;
    border-color: transparent transparent transparent #0a516d;
    position: absolute;
    top: 180px;
    left: 650px;
    /*transition: all 0.5s ease;*/
    cursor: pointer; 
  }
  #triangle2 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 150px 150px 0 150px;
    border-color: #5dc0a6 transparent transparent transparent;
    position: absolute;
    top: 180px;
    left: 650px;
    /*transition: all 0.5s ease;*/
    cursor: pointer; 
  }
  
  #triangle3 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 152px 152px;
    border-color: transparent transparent #f6b8d1 transparent;
    position: absolute;
    top: 330px;
    left: 798px;
    /*transition: all 0.5s ease;*/
    cursor: pointer;
  }
  #triangle4 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 76px 76px 76px 0;
    border-color: transparent #007AB2 transparent transparent;
    position: absolute;
    top: 180px;
    left: 875px;
    /*transition: all 0.5s ease;*/
    cursor: pointer; 
  }
  #triangle5 {
    width: 263px;
    height: 100px;
    position: absolute;
    top: 407px;
    left: 623px;
    /*transition: all 0.5s ease;*/
    cursor: pointer; 
  }
  #square1 {
    position: absolute;
    top: 258px;
    left: 800px;
    /*transition: all 0.5s ease;*/
    cursor: pointer; 
  }
  
  #canvas {
    width: 550px;
    height: 250px;
    border: 1px solid black;
    position: relative;
  }
  
  .instructions {
    margin-bottom: 20px;
  }
  
  .svg {
    width: 100%;
    height: 100%;
    cursor: move;
  }
  
  #wrap-person {
    fill: #dddddd;
  }
  
  #person {
    cursor: move;
  }
